*{
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: grey;
}

.col-50 {
    width: 50%;
}

.navbar {
    padding: 25px 5px 5px 5px;
    height: 80px;
    background-color: #3D53FF;

    display:flex;
    flex-direction: row;
    justify-content: center;
}

.navbar-pages {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-pages > a {
    color: white;
    padding: 10px;
    align-self: center;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
}

.navbar-pages > a:hover {
    color: rgb(218, 216, 216);
}

.navbar-brand {
    padding: 5px;
}

.navbar-brand > img {
    height: 65px;
    width: auto;
}

#title-splash {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero {
    margin: 0;
    padding: 100px 50px 100px 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

#panel1 {
    background-color: #3D53FF;
    color: white;
}

#panel1 > h1 {
    font-weight: 800;
    font-size: 100px;
}

#panel1 > h3 {
    font-size: 50px;
    font-family: 'Merriweather', serif;
}

#panel1 > a {
    background-color: white;
    color: #3D53FF;
}

#panel1 > a:hover {
    background-color:rgb(218, 216, 216);
}

#panel2 {
    padding: 200px 50px 200px 50px;
    background-color: white;
    color: black;

    display: grid;
     height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1px 1px;
    grid-template-areas: ". .";
}

#panel2-sub1 > h1 {
    font-family: 'Volkhov', serif;
    font-size: 100px;
}

#panel2-sub2 > h1 {
    text-align: left;
    font-weight: 800;
    font-size: 50px;
}

#panel2-sub2 > p {
    text-align: left;
    font-weight: 200;
    font-size: 24px;
}


.button {
    margin-left: auto;
    margin-right: auto;
    padding: 14px 25px;
    font-size: 20px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;

    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border: 0px solid #000000;
}
