*{
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    scroll-behavior: smooth;
}

body {
    background-color: grey;
}

.button {
    margin-left: auto;
    margin-right: auto;
    padding: 14px 25px;
    font-size: 20px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;

    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border: 0px solid #000000;
}
.navbar  {
    display:flex;
    flex-direction: row;
    justify-content: center;

    position: sticky;
    top: 0;
    padding: 25px 5px 5px 5px;
    height: 80px;
    background-color: #3D53FF;
}

.menu-collapse {
    visibility: hidden;
}

@media(min-width: 1000px) {
    .navbar-pages {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

}

@media(max-width: 999px) {
     .navbar-pages {
        visibility: collapse;
    }

    .change.navbar-pages {
        align-self: center;
        visibility: visible;
        flex-wrap: wrap;
    }

    .navbar-pages > a {
        flex-basis: 50%;
    }

    .navbar-brand {
        order: -1;
        transition: order 0.1s linear; 
    }

    .menu-collapse {
        order: 3;
        margin: 20px 15px 15px 15px;
        visibility: visible;
        align-self: flex-start;
        display: inline-block;
        cursor: pointer; 
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-8px, 6px) ;
        transform: rotate(-45deg) translate(-8px, 6px) ;
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-9px, -8px) ;
        transform: rotate(45deg) translate(-9px, -8px) ;
    }
}

.navbar-pages > a {
    color: white;
    padding: 10px;
    align-self: center;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
}

.navbar-pages > a:hover {
    color: rgb(218, 216, 216);
}

.navbar-brand {
    padding: 5px;
}

.navbar-brand > img {
    height: 65px;
    width: auto;
}

#title-splash {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero {
    margin: 0;
    padding: 100px 50px 100px 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

#panel1 {
    background-color: #3D53FF;
    color: white;
}

#panel1 > h1 {
    font-weight: 800;
    font-size: 100px;
}

#panel1 > h3 {
    font-size: 50px;
    font-family: 'Merriweather', serif;
}

#panel1 > a {
    background-color: white;
    color: #3D53FF;
}

#panel1 > a:hover {
    background-color:rgb(218, 216, 216);
}

#panel2 {
    padding: 200px 50px 200px 50px;
    background-color: white;
    color: black;

    display: grid;
     height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1px 1px;
    grid-template-areas: ". .";
}

#panel2-sub1 > h1 {
    font-family: 'Volkhov', serif;
    font-size: 100px;
}

#panel2-sub2 > h1 {
    text-align: left;
    font-weight: 800;
    font-size: 50px;
}

#panel2-sub2 > p {
    text-align: left;
    font-weight: 200;
    font-size: 24px;
}

#panel3 {
    background-color: black;
    color: white;
}

#panel3 > h1{
    font-size: 100px;
}

#panel4 {
    background: #3D53FF;
    color: white;
}

#panel4 > h1 {
    font-family: 'Merriweather', serif;
    font-size: 50px;
}

#panel4 > h3 {
    font-size: 36px;
}

#register {
    text-align: left;
    align-self: center;

    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#register > input {
    padding: 10px;

}

#register > p{
    margin: 0;
    padding: 10px 0 10px 0;
    font-size: 24px;
}

#register > button {
    background-color: white;
    color: #3D53FF;
    align-self: flex-start;
    margin: 20px 0 0 0;
}

.footer {
    background: #3D53FF;
    color: white;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    text-align: center;
}

.line {
    padding: 25px 0 0 0 ;
    border-top: 1px solid white;
}

.footer-brand {
    align-self: center;
    height: 85px;
    width: auto;
}

.footer > p {
    font-weight: 600;
}